.container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
}
.verticalCenterImg {
    display: flex !important;
    align-items: center !important;
}
.centerImg {
    display: block;
    margin: auto;
}
.text {
    width: 100%;
    color: #4c4c4c;
    text-align: center;
    margin: 2% 0%;
    font-weight: 800;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}
.search-btn {
    font-size: 11px;
    color: white;
    background-color: #4f4f4f;
    border: solid 0px transparent;
    border-radius: 5px;
    padding: 0.5rem;
    width: 25%;
}
.button-update {
    border: solid 1px;
    border-radius: 5px;
    width: 35%;
    background: #212529;
    color: #fff;
    height: 100%;
}
.button-update:focus {
    outline: none !important;
    border: solid 2px #212529;
}
.area-data {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* border: dashed 1px #1e2cc2; */
    margin: 0rem 0rem 0rem 0rem;
    background-color: #b1b1b138;
    text-align: center;
    font-size: 14px;
    padding-top: 1rem;
}
.card-principal {
    background-color: #fff;
    border-radius: 3px;
    height: 80vh;
}
.verticalCenterImg {
    display: flex !important;
    align-items: center !important;
}
.centerImg {
    display: block;
    margin: auto;
}
.text {
    color: #4c4c4c;
    text-align: center;
    margin: 2% 0%;
    font-weight: 400;
}
.text-title {
    color: #4c4c4c;
    font-weight: 800;
    margin: 3% 0%;
    text-align: center;
    background: #f2f2f2;
    border-radius: 5px;
}
.change {
    margin: 1%;
    font-size: 12px;
    text-align: center;
    color: #ffbd00;
}
.update-button {
    border: solid 1px;
    border-radius: 5px;
    width: 70%;
    background: #ffbd00;
    color: #fff;
    height: 100%;
}
.update-button:focus {
    outline: none !important;
    border: solid 2px #ffbd00;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}
.area-data {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* border: dashed 1px #1e2cc2; */
    margin: 0rem 0rem 0rem 0rem;
    background-color: #b1b1b138;
    text-align: center;
    font-size: 14px;
    padding-top: 1rem;
}
.search-btn {
    font-size: 11px;
    color: white;
    background-color: #4f4f4f;
    border: solid 0px transparent;
    border-radius: 5px;
    padding: 0.5rem;
    width: 25%;
}
.button-update {
    border: solid 1px;
    border-radius: 5px;
    width: 35%;
    background: #212529;
    color: #fff;
    height: 100%;
}
.button-update:focus {
    outline: none !important;
    border: solid 2px #212529;
}
.button-cancel {
    border: solid 1px;
    border-radius: 5px;
    width: 35%;
    background: #4f4f4f;
    color: #fff;
    height: 100%;
}
.button-cancel:focus {
    outline: none !important;
    border: solid 2px #4f4f4f;
}
.mexican {
    width: 40px;
    height: 25px;
    margin: auto;
    border-radius: 5px;
}
.warning {
    margin: 0%;
    text-align: center;
    font-size: 11px;
    color: #ffbd00;
    font-weight: 500;
}
.container-input {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.input-form {
    color: #4c4c4c;
    width: 75%;
    height: 100%;
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    padding-left: 2% !important;
}
.input-form:focus {
    outline: none !important;
    border: solid 2px #4f4f4f;
}
.lab {
    width: 70%;
    justify-content: center;
    display: flex;
    margin: auto;
    color: #4c4c4c;
}
button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: transparent;
    height: 100%;
    width: 50px;
    color: #212529;
    opacity: 0;
    font-size: 10pt;

    outline: none;
    opacity: 1;
    margin-left: -50px;

    -webkit-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease;
}
.error {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #ffbd00;
    font-weight: 400;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #212529;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*  */
#app {
    text-align: center;
    color: #2c3e50;
    /* width: 640px; */
}
#video {
    border-radius: 5px;
    transform: scaleX(-1);
    background-color: #000000;
    width: 100%;
    height: 225px;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}
.button-change {
    border: solid 1px;
    border-radius: 5px;
    width: 45%;
    background: #212529;
    color: #fff;
    height: 100%;
}
.button-change_ {
    border: solid 1px;
    border-radius: 5px;
    width: 45%;
    background: #fff;
    color: #212529;
    height: 100%;
}
.button-change:focus {
    outline: none !important;
    border: solid 2px #212529;
}