<body>
  <div class="container">
    <div class="text-title verticalCenterImg">
      <p class="text">Registrar nuevo usuario</p>
    </div>
    <!-- <div class="row"> -->
    <form [formGroup]="register" class="row">

      <div class="col-lg-4 col-sm-4 col-md-4">
        <label class="lab">* Nombre de usuario</label>
        <div class="container-input">
          <input type="text" class="input-form" placeholder="" formControlName="username">
        </div>
      </div>

      <div class="col-lg-4 col-sm-4 col-md-4">
        <label class="lab">Apellidos</label>
        <div class="container-input">
          <input type="text" class="input-form" placeholder="" formControlName="last_name">
        </div>
      </div>

      <div class="col-lg-4 col-sm-4 col-md-4">
        <label class="lab">* Correo electrónico</label>
        <div class="container-input">
          <input type="text" class="input-form" placeholder="" formControlName="email">
        </div>
      </div>

      <div class="col-lg-4 col-sm-4 col-md-4">
        <label class="lab">Teléfono</label>
        <div class="container-input">
          <input type="text" class="input-form" placeholder="" formControlName="phone">
        </div>
      </div>
      <!-- FOTO -->
      <div class="col-lg-4 col-sm-4 col-md-4">
        <p class="text" style="font-weight: 800; margin: 2% 0%">Subir Foto de Perfil</p>
        <div>
          <input type="file" (change)="updloadfile($event)" class="custom-file-input" id="tc" style="height: 0px;"
            accept=".jpg, .png">
          <label class="area-data" for="tc" type="button">
            Pulsa aquí para seleccionar la imagen <br>
            .jpg ó .png <br>
            {{name_photo}} <br>
            <p class="search-btn centerImg" style="margin-bottom: 0.5rem">Adjuntar</p>
          </label>
        </div>
      </div>

      <div class="col-lg-4 col-sm-4 col-md-4">
        <p class="text" style="font-weight: 800; margin: 2% 0%">Tomar Foto de Perfil</p>

        <div id="app">
          <div><video #video id="video" width="640" height="480" autoplay></video></div>
          <div><button id="snap" class="button-update" (click)="capture()">Capturar</button></div>
          <canvas #canvas id="canvas" width="640" height="480"></canvas>
          <div style="display: flex; justify-content: center; margin: 1% 0%;">
            <img src="{{ image }}" height="50" style="border-radius: 5px;"/>
          </div>
        </div>
      </div>
    </form>
    <!-- </div> -->
    &nbsp;
    <div style="display: flex; justify-content: center;">
      <div class="lds-spinner" *ngIf="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <p style="font-weight: 400; text-align: center;">{{message}}</p>
    <div style="display: flex; justify-content: center; height: 35px;">
      <button class="button-update" (click)="saveUser()">REGISTRAR</button>
    </div>

  </div>
</body>
<router-outlet></router-outlet>